@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"); /* import font */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root{
    --white: #f9f9f9;
    --black: #221b28;
    --gray: #34393d;
    --cyan-from: #16b5c7;
    --cyan-to: #058ba5;
    --magenta: #bc3183;
    --violet: #5b05a2;

} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}

.menu .dropdown {
    margin-left: 1rem;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 7px;
}
.hamb-line::after{
    top: -7px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 641px) {
    .hamb{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        overflow: visible;
    }

    .nav{
        max-height: none;
        position: relative;
        width: fit-content;
        overflow: visible;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }


    .menu li {
        display: block;
        transition-duration: 0.5s;
    }

    .menu li:hover {
        cursor: pointer;
    }

    .nav ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        display: none;
        z-index: 1;
        background-color: var(--black);
    }

    .nav ul li:hover > ul,
    .nav ul li:focus-within > ul,
    .nav ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    .nav ul li ul li {
        clear: both;
        width: 100%;
    }

}


/* Main */
.hero {
    background: linear-gradient(145deg, var(--cyan-from), var(--cyan-to));
    height: 16rem;
    width: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--white);
    font-size: 2rem;
    text-align: left;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    margin: auto;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.btn {
    background-color: var(--magenta);
    color: var(--white);
    padding: 2rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    aspect-ratio: 1;
}

.download {
    color: var(--white);
    background-color: var(--black);
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
}
.download p {
    font-size: 1.2rem;
    padding-left: 1rem;
    margin: 0;
}



/* Utility  classes */
.center {
    text-align: center;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-left {
    text-align: left;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-white {
    color: var(--white);
}
.text-black {
    color: var(--black);
}
.text-gray {
    color: var(--gray);
}
.text-cyan {
    color: var(--cyan-from);
}
.text-magenta {
    color: var(--magenta);
}
.text-violet {
    color: var(--violet);
}

.mt-1 {
    margin-top: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.text-xxl {
    font-size: 2.5rem;
}
.text-xl {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 1.25rem;
}
.text-md {
    font-size: 1rem;
}
.text-sm {
    font-size: 0.75rem;
}
